html {
  font-size: 22px;
}
body {
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 32%,
    rgba(0, 212, 255, 1) 100%);
}
/* Navbar stuff start */
#logo {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -10px;
  width: 50px;
}
#menu {
  margin-bottom: 20px;
}
#collapsibleNavbar {
  height: auto;
}
#row {
  height: 80%;
}
/* End Navbar Stuff */
#birdbox {
  color: white;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(68, 1, 128, 0.8);
  margin-bottom: 15px;
}
#birdImg {
  margin: 10px;
  width: auto;
}