/* Navbar stuff start */
#logo {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -10px;
  width: 50px;
}
#menu {
  margin-bottom: 1rem;
}
#collapsibleNavbar {
  height: auto;
}
#row {
  height: 80%;
}
/* End Navbar Stuff */
/* Start Main Body */
#box {
  background-color: darkslategray;
  text-align: center;
  border-radius: 0.25rem;
  border: 3px solid black;
  margin: 0.5rem;
}
html {
  font-size: 22px;
}
body {
  padding: 1rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 32%,
    rgba(0, 212, 255, 1) 100%);
}
  /* Start of grid things */
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
#grid-item {
  border-radius: 0.25rem;
  border: 3px solid black;
  margin: 0.5rem;
}
.grid-item {
  color: gainsboro;
  background-color: darkslateblue;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}
/* End of grid things */
#featured {
  margin: 0.5rem;
}
#earthphoto {
  width: 80%;
  margin-bottom: 10px;
}
#vaccineBrain {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#flatreadbutton {
  margin-bottom: 10px;
  color: rgba(255, 34, 173, 1);
}
#teenVaccines {
  width: 100%;
  margin-bottom: 10px;
}
#link {
  color: rgba(0, 255, 0, 1);
}
#menu-row {
  border-radius: 0.25rem;
  background-color: midnightblue;
  border: 3px solid black;
}
#homebox {
  text-align: center;
  border: 3px solid black;
  margin: 15px;
  border-radius: 0.25rem;
  background-color: rgba(0, 150, 255, 1);
}
#vaccinebutton {
  color: rgba(255, 34, 173, 1);
}
#birdbutton {
  color: rgba(255, 34, 173, 1);
}
#birdfishjpg {
  margin: 10px;
  width: 97.5%;
}
#beebutton {
  color: rgba(255, 34, 173, 1);
}
#beejpg {
  margin: 10px;
  width: 97.5%;
}
#animalbutton {
  color: rgba(255, 34, 173, 1);
}
#animaljpg {
  margin: 10px;
  width: 97.5%;
}
#flatbox {
  color: white;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(68, 1, 128, 0.8);
  margin-bottom: 15px;
}  
#vaccinebox {
  color: white;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(68, 1, 128, 0.8);
  margin-bottom: 15px;
}
#titanicbutton {
  color: rgba(255, 34, 173, 1);
}
#titanicjpg {
  margin: 10px;
  width: 97.5%;
}
#flatEarthCitation {
  margin-bottom: 10px;
}
#titanicCitation {
  margin-bottom: 10px;
}
#mathbox {
  color: white;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(68, 1, 128, 0.8);
  margin-bottom: 15px;
}
#fakeMath {
  margin: 10px;
  width: 65%;
}
#birdImg {
  margin: 10px;
  width: auto;
}
#birdbox {
  color: white;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(68, 1, 128, 0.8);
  margin-bottom: 15px;
}
#beeBox {
  color: white;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(68, 1, 128, 0.8);
  margin-bottom: 15px;
}
#BeeImg {
  margin: 10px;
  width: 90%;
}
#titanicImg {
  margin: 10px;
  width: 95%;
}
#bat {
  width: auto;
  height: auto;
}
/* End Main Body Stuff */