#logo {
  width: 10%;
}
#menu {
  margin-top: 10px;
}
#box {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 255, 0, 0.514);
  text-align: center;
  border: 3px solid black;
  margin-top: 10px;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    270deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );
}
#earthphoto {
  width: 30%;
  margin-bottom: 10px;
}
#vaccineBrain {
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#flatreadbutton {
  margin-bottom: 30px;
}
#teenVaccines {
  width: 100%;
  margin-bottom: 10px;
}
#link {
  color: rgba(255, 0, 255, 1);
}
#homebox {
  border: 3px solid black;
  margin-bottom: 3px;
}